@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,700&display=swap');

:root {
  font-family: 'Roboto Mono', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #080708;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* color palette */
  --red: #DF2935;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover { 
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: clamp(24px, 3vmax, 50px);
}

h2 {
  font-size: clamp(18px, 2vmax, 36px);
}

audio {
  display: block;
  margin: auto;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10vw;
  display: grid;
  grid-template: 100% / 100%;
}

@media only screen and (max-width: 900px) and (min-height: 300px) {
  h1 {
    font-size: 5vmin;
  }

  h2 {
    font-size: clamp(10px, 3vmin, 18px);
  }

  h3 {
    font-size: 0.85rem;
  }

  p, ul {
    font-size: 0.75rem;
  }
}